# python & environment
.vscode
venv
__pycache__
.ipynb_checkpoints
*.DS_Store
*.pyc

# placeholder frontend data
app/images
app/static/data.json

# neural networks
face/models

# face analysis
face/data
face/debug.jpg

# binary for patching wifi drivers
rpi/camera/*.bin

# raw reference images for color correction
rpi/reference

# multibrowse app
automate/multibrowse
automate/multibrowse-source