body, html, #wrapper {
  height: 100%;
  overflow: hidden;
}

#mask {
  position: absolute;
  z-index: 1;
  display: none;
  opacity: 0.5;
}

#rect {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

img {
  height: 100%; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.text {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  text-align: center;
  margin-top: 60vh;
}

#label {
  display: inline-block;
  margin: 1.5em 0 0 0;
  padding: 0 0.25em;
  background: black;
  color: white;
  font-size: 8.5vw;
  font-family: botanika-mono-web, monospace;
  font-weight: 600;
  text-transform: uppercase;
}

#expression {
  display: inline-block;
  margin: 2em 0 0 0;
  padding: 0 0.2em;
  background: black;
  font-size: 14vw;
  font-weight: 600;
  font-style: italic;
  font-family: botanika-mono-web, monospace;
  text-transform: uppercase;
  color: #ff0039;
}
